<configuration>
    <appender name="INFLUXDB" class="ee.maitsetuur.appender.InfluxDBAppender">
        <url>http://influxdb:8086</url>
        <token>c3xqz8dozXJO-agj7J1OXmp-sUgMkBm5uWI_iN9Avz68K_rlOLb5LZxqEMaS879iocEhGNvTpUDLy2Y8EgLU7w==</token>
        <org>Maitsetuur</org>
        <bucket>springboot</bucket>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="INFLUXDB" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
